[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
ignore-patterns= main,mpu6050,easing,tinyweb

[MESSAGES CONTROL]
disable = missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    max-line-length,
    line-too-long,
    import-error,
    consider-using-f-string,
    no-self-use,
    too-few-public-methods,
    too-many-arguments,
    too-many-return-statements,
    broad-except

[BASIC]
good-names = a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z
